body {
  background: url('../imgs/squared_metal_@2x.png') repeat scroll 0% 0% transparent;
  padding-top: 2%
}

.budgetBleederContainer {
  border-width: 1px;
  border-color: black;
  background-color: white;
  padding: 2%;
  border-style: solid;
  margin-top:9%;
  border-radius: 15px
  -moz-box-shadow:    9px 9px 11px 3px #555;
  -webkit-box-shadow: 9px 9px 11px 3px #555;
  box-shadow:         9px 9px 11px 3px #555;
}

.bleeder {
  margin-top: 3%;
  margin-bottom: 3%;
}

.slackerForm {
  border: 1px;
  border-color: black;
}

.slackerForm__name {
  float: right;
  width: 100%;
}

.slackerForm__name-label {
  margin-right: 2%;
}

.slackerForm__name-input {
  width: 259px;
  float: right;
}

.slackerForm__salary {
  float: right;
  clear: both;
  margin-top: 2%;
  width: 100%;
}

.slackerForm__salary-label {
  margin-right: 2%;
}

.slackerForm__salary-input {
  width: 259px;
  float: right;
}

.slackerForm__submit {
  float: right;
  clear: both;
  margin-top: 2%;
}

.slackerList-item__remove {
  color: red;
}

.slackerList-item__remove:hover {
  color: rgba(255,0,0,.5);
  text-decoration: none;
}
